@font-face {
  // sets a custom font
  font-family: BigFont;
  src: url("../../Fonts/PressStart2P-vaV7.ttf");
}

*{
  // applies the custom font to everythign on the page
  font-family: BigFont;
  overflow-x: hidden;
}

body{
  cursor: url('../../images/pacmanCursor.gif'), auto;
}

#ghost{
  position: absolute;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 35px;
    // border-radius: 50%;
    // border: 2px solid white;
    z-index: 100;
}

#pacman {
  position: absolute;
    transform: translate(-50%, -50%);
    height: 55px;
    width: 55px;
    // border-radius: 50%;
    // border: 2px solid white;
    z-index: 110;
}

.full{
 display:flex;
 flex-direction: row;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  background-image: url(../../images/stars.gif);
  background-size: cover;
  resize: both;
}

.small{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.fs-0{
  font-size: 2rem;
}

.h-30{
  height: 30vh;
}

.my-50{
  margin-top: 20%;
}

.fs-small{
  font-size: .75rem;
}

nav{
  z-index: 2;
}

.filler {
  display: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}