@font-face {
  // sets a custom font
  font-family: BigFont;
  src: url("../../Fonts/PressStart2P-vaV7.ttf");
}

*{
  // applies the custom font to everythign on the page
  font-family: BigFont;
}

.full{
 display:flex;
 flex-direction: column;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../../images/stars.gif);
  background-size: cover;
  resize: both;
}

.fs-0{
  font-size: 3rem;
}

.h-30{
  height: 30vh;
}